select#paymentOption {
   
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 16px;
}


select#paymentOption option {
    padding: 10px;
}


select#paymentOption:focus {
    background-color: white;
}
